* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
a {
  text-decoration: none;
}
.aside {
  background-color: #202026;
  width: 30%;
}
.img {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 70px;
}
.img img {
  width: 100%;
  height: 100%;
}
.aside-nav {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  color: white;
  padding-top: 50px;
}
.main {
  position: relative;
  max-width: 580px;
  width: 100%;
  padding-left: 50px;
  font-family: "Rubik", sans-serif;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
.head {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #fecb00;
  padding: 65px 50px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 50px;
}
.main-container {
  width: 70%;
  padding-top: 70px;
  background-color: rgb(255, 255, 255);
}
h1 {
  display: none;
}
.FIO {
  width: 100%;
}
.FIO span {
  font-weight: 600;
  font-size: 47px;
}
.prof {
  padding-left: 2px;
  font-weight: 600;
}
h2 {
  margin-bottom: 20px;
}
hr {
  margin-bottom: 20px;
}
p {
  line-height: 25px;
}
.education {
  margin-bottom: 20px;
}
.purpose {
  margin-bottom: 20px;
}
.work {
  margin-bottom: 20px;
}
li {
  list-style-type: circle;
  margin-left: 25px;
  line-height: 28px;
}
ul {
  margin-bottom: 20px;
}
.ul-skills {
  margin: 0;
}
.ul-skills li {
  list-style-type: disc;
}
.code-hr {
  margin: 0;
}
.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #fecb00;
  padding: 65px 50px;
  font-family: "Rubik", sans-serif;
  align-items: center;
  justify-content: space-between;
}
.git-logo {
  /* display: inline-block; */
  max-width: 100px;
  max-height: 100px;
  width: 100%;
}
.rs-logo {
  /* display: inline-block; */
  position: relative;
  max-width: 270px;
  height: 100%;
  width: 100%;
  min-height: 50px;
}
h3 {
  font-size: 20px;
}
.aside-nav h2 {
  font-weight: 200;
}
.aside-nav hr {
  color: #fecb00;
}
.contacts {
  display: flex;
  position: relative;
  flex-direction: column;
}
.contacts a {
  display: flex;
  color: #fecb00;
}
.contacts li {
  list-style-type: none;
}
.contacts a::before {
  content: "";
  display: block;
  height: 32px;
  width: 5px;
  position: relative;
  left: -55px;
  top: -8px;
  background-color: #fecb00;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.contacts a:hover::before {
  width: 60px;
  color: white;
}
.projects {
  display: flex;
  position: relative;
  flex-direction: column;
}
.projects a {
  display: flex;
  color: #fecb00;
}
.projects li {
  list-style-type: none;
}
.projects a::before {
  content: "";
  display: block;
  height: 32px;
  width: 5px;
  position: relative;
  left: -55px;
  top: -8px;
  background-color: #fecb00;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.projects a:hover::before {
  width: 60px;
}
